.arrow {
  background: url(../images/arrow-ico.svg);
  display: inline-block;
  width: 36px;
  height: 36px;
}
.postulako {
  background: url(../images/postulako.svg);
  width: 48px;
  height: 48px;
  display: inline-block;
}

.ivanka {
  background: url(../images/ivanka.svg);
  width: 32px;
  height: 32px;
  display: inline-block;
}

.mursakov {
  background: url(../images/mursakov.svg);
  width: 32px;
  height: 32px;
  display: inline-block;
}

.evgeniy {
  background: url(../images/evgeniy.svg);
  width: 48px;
  height: 48px;
  display: inline-block;
}
.facebook {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../images/facebook.svg);
}
.youtube {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../images/youtube.svg);
}
.vk {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../images/vk.svg);
}
.telegram {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url(../images/telegram.svg);
}
.phone {
  display: inline-block;
  width: 20px;
  height: 22px;
  background-size: cover;
  background: url(../images/phone.svg) no-repeat;
  margin-right: 9px;
}
.list {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/list.svg);
}
